.clients{
    padding: 60px 0px 60px 15px;
    background-color: $light-grey;
}

@media (min-width: $tablet-min-width) {
    .clients{
        padding: 60px 33px;
    }
}

@media (min-width: $tablet-min-width) {
    .clients{
        padding: 60px 39px;
    }
}

@media (min-width: $tablet-min-width) {
    .swiper-wrapper{
       display: flex;
       flex-wrap: wrap;
       gap: 30px;
    }
}

.clients__item{
    box-sizing: border-box;
    width: 150px !important;
    height: 80px !important;
    padding: 20px 17px 27px;
    margin-right: 30px;
    border: 1px solid $grey;
}

@media (min-width: $tablet-min-width) {
    .clients__item{
        margin: 0;
        padding: 0;
       width: 240px !important;
       height: 127px !important;
       display: flex;
       justify-content: center;
       align-items: center;
    }
}

@media (min-width: $tablet-width) {
    .clients__item{
       width: 150px !important;
       height: 80px !important;
    }
}

.clients__item img{
    display: block;
    width: 100%;
}
//Не понятные размеры лого в макете

@media (min-width: $tablet-min-width) {
    .clients__item:first-child img{
        width: 185.412px;
       height: 51.741px;
    }
    .clients__item:nth-child(2) img{
        width: 175.059px;
        height: 49.859px;
    }
    .clients__item:nth-child(3) img{
        width: 211.765px;
       height: 19.756px;
    }
    .clients__item:nth-child(4) img{
        width: 196.706px;
        height: 24.459px;
    }
}

@media (min-width: $tablet-width) {
    .clients__item:first-child img{
        width: 115.882px;
        height: 32.593px;
    }
    .clients__item:nth-child(2) img{
        width: 109.412px;
        height: 31.407px;
    }
    .clients__item:nth-child(3) img{
        width: 132.353px;
        height: 12.444px;
    }
    .clients__item:nth-child(4) img{
        width: 122.941px;
        height: 15.407px;
    }
}